tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"∏º¿∫ ∞ÌµÒ", monospace;
	mso-font-charset:129;
	border:none;
	mso-protection:locked visible;
	mso-style-name:«•¡ÿ;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"∏º¿∫ ∞ÌµÒ", monospace;
	mso-font-charset:129;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid black;
	background:#CCFFCC;
	mso-pattern:black none;
	white-space:normal;}
.xl66
	{mso-style-parent:style0;
	text-align:right;
	border:.5pt solid black;
	white-space:normal;}
.xl67
	{mso-style-parent:style0;
	border:.5pt solid black;
	white-space:normal;}
.xl68
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	background:#CCFFCC;
	mso-pattern:black none;
	white-space:normal;}
.xl69
	{mso-style-parent:style0;
	text-align:right;
	border:.5pt solid black;
	background:yellow;
	mso-pattern:black none;
	white-space:normal;}
.xl70
	{mso-style-parent:style0;
	border:.5pt solid black;
	background:yellow;
	mso-pattern:black none;
	white-space:normal;}
.xl71
	{mso-style-parent:style0;
	background:yellow;
	mso-pattern:black none;}
.xl72
	{mso-style-parent:style0;
	text-align:right;
	border:.5pt solid black;
	background:#FFC000;
	mso-pattern:black none;
	white-space:normal;}
.xl73
	{mso-style-parent:style0;
	border:.5pt solid black;
	background:#FFC000;
	mso-pattern:black none;
	white-space:normal;}
.xl74
	{mso-style-parent:style0;
	background:#FFC000;
	mso-pattern:black none;}
.xl75
	{mso-style-parent:style0;
	text-align:right;
	border:.5pt solid black;
	background:#92D050;
	mso-pattern:black none;
	white-space:normal;}
.xl76
	{mso-style-parent:style0;
	border:.5pt solid black;
	background:#92D050;
	mso-pattern:black none;
	white-space:normal;}
.xl77
	{mso-style-parent:style0;
	background:#92D050;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style0;
	text-align:right;
	border:.5pt solid black;
	background:#00B050;
	mso-pattern:black none;
	white-space:normal;}
.xl79
	{mso-style-parent:style0;
	border:.5pt solid black;
	background:#00B050;
	mso-pattern:black none;
	white-space:normal;}
.xl80
	{mso-style-parent:style0;
	background:#00B050;
	mso-pattern:black none;}
.xl81
	{mso-style-parent:style0;
	text-align:right;
	border:.5pt solid black;
	background:#00B0F0;
	mso-pattern:black none;
	white-space:normal;}
.xl82
	{mso-style-parent:style0;
	border:.5pt solid black;
	background:#00B0F0;
	mso-pattern:black none;
	white-space:normal;}
.xl83
	{mso-style-parent:style0;
	background:#00B0F0;
	mso-pattern:black none;}
.xl84
	{mso-style-parent:style0;
	text-align:right;
	border:.5pt solid black;
	background:#0070C0;
	mso-pattern:black none;
	white-space:normal;}
.xl85
	{mso-style-parent:style0;
	border:.5pt solid black;
	background:#0070C0;
	mso-pattern:black none;
	white-space:normal;}
.xl86
	{mso-style-parent:style0;
	background:#0070C0;
	mso-pattern:black none;}
.xl87
	{mso-style-parent:style0;
	text-align:right;
	border:.5pt solid black;
	background:#7030A0;
	mso-pattern:black none;
	white-space:normal;}
.xl88
	{mso-style-parent:style0;
	border:.5pt solid black;
	background:#7030A0;
	mso-pattern:black none;
	white-space:normal;}
.xl89
	{mso-style-parent:style0;
	background:#7030A0;
	mso-pattern:black none;}
